.ico_wb36,.ico_qq36,.ico_qz36,.ico_sina36,.ico_rr36,.ico_db36{background-repeat:no-repeat}
.ico_wb36{background-image:url(//mat1.gtimg.com/www/mb/images/weishi/Sub/sprite/asyn.base-131226c.png);background-position:0 0}
.ico_qq36{background-image:url(//mat1.gtimg.com/www/mb/images/weishi/Sub/sprite/asyn.base-131226c.png);background-position:-37px 0}
.ico_qz36{background-image:url(//mat1.gtimg.com/www/mb/images/weishi/Sub/sprite/asyn.base-131226c.png);background-position:-74px 0}
.ico_sina36{background-image:url(//mat1.gtimg.com/www/mb/images/weishi/Sub/sprite/asyn.base-131226c.png);background-position:-111px 0}
.ico_rr36{background-image:url(//mat1.gtimg.com/www/mb/images/weishi/Sub/sprite/asyn.base-131226c.png);background-position:-148px 0}
.ico_db36{background-image:url(//mat1.gtimg.com/www/mb/images/weishi/Sub/sprite/asyn.base-131226c.png);background-position:-185px 0}
#CssGaga{content:"140101100603,bei,290"}