/* CSS GUIDE Sub内异步结构样式
================================================================
 *
 * PROJECT: 微视;
 * URL:   http://www.weishi.com;
 * AUTHOR:  bennyzhai;
 *
----------------------------------------------------------------
 *
 * 1. 模块;
 * 2. 结构;
 * 
================================================================*/





/* 1 模块
================================================================*/

/* 浮层
----------------------------------------------------------------*/

/* 联系我们 */
.ico_lay_wechat,
.ico_lay_weibo{ background:url(http://mat1.gtimg.com/www/mb/images/mv/sprite_mVideo_lay_130906b.png);}
.ico_lay_wechat,
.ico_lay_weibo{ width:56px; height:56px}

/* 分享到SNS */
.D_sharelist{}
.D_sharelist ul{ margin-top:25px}
.D_sharelist .item{ float:left; height:36px; padding-left:10px}
.D_sharelist .item a{ display:block; width:120px; float:left;}
.D_sharelist .item a .ico36{ opacity:.85}
.D_sharelist .item a:hover .ico36{ opacity:1}
.D_sharelist .item .t{ margin-left:10px; font-size:16px; font-family:Microsoft Yahei,Mingliu,sans-serif; vertical-align:middle}





/* 2 结构
================================================================*/

/* 浮层
----------------------------------------------------------------*/

/* 关闭按钮 */
.D_lay .close{ background:url(http://mat1.gtimg.com/www/mb/images/mv/sprite_mVideo_lay_130906b.png);}
.D_lay .close{ position:absolute; right:3px; display:block; width:31px; height:31px; background-position: -57px 0;}
.D_lay .close:hover{ background-color:#ebebeb; border-radius:3px}

/* 模态背景 */
.D_bg{ position:absolute; left:0; top:0; width:100%; height:100%;
	background:#000;
	opacity:.5;
	filter:alpha(opacity=50);
}

/* 浮层结构 */
.D_lay{ position:fixed; _position:absolute; width:100%; height:100%; left:0; top:0; z-index:999; background:url(about:blank);}
.D_wrap{ position:absolute; left:50%; top:45%; background:#fff; background-clip:padding-box; border:#333 4px solid; border-color:rgba(0,0,0,.5); box-shadow:rgba(0,0,0,.75) 0 2px 8px;
	-webkit-animation:enter_zoomin .5s ease-in-out 1;
	-moz-animation:enter_zoomin .5s ease-in-out 1;
	-o-animation:enter_zoomin .5s ease-in-out 1;
	-ms-animation:enter_zoomin .5s ease-in-out 1;
	animation:enter_zoomin .5s ease-in-out 1;
}

/* 浮层左右结构 */
.D_cont .preBox,
.D_cont .conBox{ float:left; border-color:#dedede; border-style:solid}
.D_cont .preBox{ padding-right:30px; border-width:0 1px 0 0; margin-right:-1px}
.D_cont .conBox{ padding-left:30px; border-width:0 0 0 1px;}

/* 浮层标题 */
.D_title{ height:34px; padding:3px 3px 0;}

/* 浮层内容区域 */
.D_cont{ padding:0 40px 37px;}
.D_cont .toptxt{ font-size:18px; line-height:30px; font-family:Microsoft Yahei}