/* CSS GUIDE 操作类页面业务结构样式
================================================================
 *
 * PROJECT: 微视操作类页面;
 * URL:   ;
 * AUTHOR:  bennyzhai;
 *
----------------------------------------------------------------
 *
 * 1. 模块;
 * 2. 结构;
 * 3. media queries;
 * 
================================================================*/





/* 1 模块
================================================================*/

/* 独立小窗
----------------------------------------------------------------*/

.layout_window{ width:630px; margin:0 auto 20px; background:#fafafa; border:#bababa 1px solid; box-shadow:rgba(0,0,0,.1) 0 0 5px}
.layout_window .layout_bd{ padding:15px; min-height:400px}
.layout_window .con{ padding:25px 60px;}




/* 2 结构
================================================================*/

.a_bd{ padding-top:41px;}

/* 版权
----------------------------------------------------------------*/

.copyright{ background:none}





/* 3 media queries
================================================================*/